@import url(https://fonts.googleapis.com/css?family=Poiret+One);

header {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 400;
}

h1 {
  font-size: 4em;
  font-family: 'Poiret One', cursive;
}